<div> 
	<h1>Another Page </h1>

	<div> Another page content</div>

	<a ui-sref="main">Go to main</a>

	<a ui-sref="main.another.nested">Show nested content</a>

	<ul>
		<li ng-repeat="user in $ctrl.users">
			<a ui-sref="main.user({ id: user.id })">{{user.firstName}}</a>
		</li>
	</ul>
</div>